<AuthorizeView>
    <Authorized>
        
        <MudDrawer Elevation="5" Class="background-800 pt-2 pb-2" Style="overflow: hidden;" Variant="DrawerVariant.Mini" ClipMode="DrawerClipMode.Docked"
                   @bind-Open="_docked">
            <MudStack Row Justify="@(_docked ? Justify.FlexEnd : Justify.Center)">
                <div>
                    <MudIconButton Icon="@(_docked ? Icons.Rounded.MenuOpen : Icons.Rounded.Menu)" OnClick="@(() => _docked = !_docked)"/>
                </div>
            </MudStack>

            <MudNavMenu Dense Color="Color.Surface" Class="@($"{(_docked ? "px-3" : string.Empty)} pt-1")">
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/" Icon="@Icons.Rounded.Home" Class="text-white rounded-nav">
                    Accueil
                </MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/favorites" Icon="@Icons.Outlined.StarOutline" Class="text-white rounded-nav mb-3">
                    Favoris
                </MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/trash" Icon="@Icons.Outlined.Delete" Class="text-white rounded-nav">
                    Corbeille
                </MudNavLink>
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/storage" Icon="@Icons.Outlined.Cloud" Class="text-white rounded-nav mb-3">
                    Stockage
                </MudNavLink>
                
                <AuthorizeView Context="adminAuth">
                    <Authorized>
                        <MudNavLink Match="NavLinkMatch.Prefix" Href="/demo" Icon="@Icons.Rounded.Slideshow" Class="text-white rounded-nav">
                            Démo
                        </MudNavLink>
                    </Authorized>
                </AuthorizeView>
            </MudNavMenu>
            <StorageSpaceIndicator Class="@($"my-2 {(_docked ? "smooth-transition" : "smooth-transition-hidden")}")" Size="@(_docked ? Size.Medium : Size.Small)"/>
            <MudSpacer/>
            <DrawerActionsMenu Class="my-2" Size="@(_docked ? Size.Medium : Size.Small)"/>
        </MudDrawer>
            
    </Authorized>

    <NotAuthorized>

        <MudDrawer Elevation="5" Class="dark-bg pt-1" Open Variant="DrawerVariant.Responsive" ClipMode="DrawerClipMode.Docked">
            <MudNavMenu Dense Color="Color.Surface" Class="px-3 pt-1">
                <MudNavLink Match="NavLinkMatch.Prefix" Href="/" Icon="@Icons.Rounded.Home" Class="text-white rounded-nav mb-3">
                    Accueil
                </MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        
    </NotAuthorized>
</AuthorizeView>

