@page "/"

<PageTitle>ScumDb - Véhicules</PageTitle>

<MudContainer Class="mt-12" MaxWidth="MaxWidth.ExtraLarge">
    <MudDataGrid T="VehicleModel" Items="@_vehicles" QuickFilter="@QuickFilter" FixedHeader FixedFooter Bordered Striped Hover Height="75vh"
                 Class="dark-bg mud-elevation-5" HeaderClass="dark-bg" FooterClass="dark-bg" RowClass="dark-bg">
        <ToolBarContent>
            <MudText Class="text-white mr-4" Typo="Typo.h6">Véhicules</MudText>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MudTooltip Text="Ajouter" Placement="Placement.Top" Arrow>
                        <MudIconButton Icon="@IconsM.Filled.AddBox" Color="Color.Success" OnClick="@AddVehiclesAsync" />
                    </MudTooltip>
                    <MudTooltip Text="Mettre à jour les positions des véhicules" Placement="Placement.Top" Arrow>
                        <MudIconButton Icon="@IconsM.Filled.EditLocation" Color="Color.Secondary" OnClick="@EditVehiclesAsync" />
                    </MudTooltip>
                    <MudTooltip Text="Purge" Placement="Placement.Top" Arrow>
                        <MudIconButton Icon="@IconsM.Filled.Delete" Color="Color.Error" OnClick="@PurgeVehiclesAsync" />
                    </MudTooltip>
                </Authorized>
            </AuthorizeView>
            <MudSpacer/>
            <MudTextField T="string" @bind-Value="_search" Label="Rechercher" Placeholder="Laika" Immediate Adornment="Adornment.Start" AdornmentIcon="@(IconsM.Filled.Search)" Clearable/>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Title="Propriétaire (nom)" Property="x => x.OwnerName" HeaderClass="dark-bg" FooterClass="dark-bg dark-border" />
            <PropertyColumn Title="Propriétaire (steamID)" AggregateDefinition="Aggregation" Property="x => x.OwnerId" HeaderClass="dark-bg" FooterClass="dark-bg dark-border" />
            <TemplateColumn Title="ID véhicule" HeaderClass="dark-bg" FooterClass="dark-bg">
                <CellTemplate Context="row">
                    <MudGrid Spacing="0">
                        <MudItem xs="10">
                            <MudText>@($"#{row.Item.VehicleId}")</MudText>
                        </MudItem>
                        <MudItem xs="2">
                            <MudTooltip Text="Copier l'ID du véhicule" Placement="Placement.Left" Arrow>
                                <MudIconButton Size="Size.Small" Icon="@(IconsM.Filled.ContentCopy)" OnClick="@(async () => await CopyToClipboardAsync(row.Item.VehicleId))"/>
                            </MudTooltip>
                        </MudItem>
                    </MudGrid>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Title="Véhicule" Property="x => x.Name" HeaderClass="dark-bg" FooterClass="dark-bg"/>
            <TemplateColumn Title="Position (X, Y, Z)" HeaderClass="dark-bg" FooterClass="dark-bg">
                <CellTemplate Context="row">
                    <MudGrid Spacing="0">
                        <MudItem xs="10">
                            <MudGrid Spacing="1">
                                <MudItem xs="3">
                                    <MudText>
                                        <strong>X</strong>(<span style="text-decoration: underline;">@row.Item.PositionX</span>)
                                    </MudText>
                                </MudItem>
                                <MudItem xs="3">
                                    <MudText>
                                        <strong>Y</strong>(<span style="text-decoration: underline;">@row.Item.PositionY</span>)
                                    </MudText>
                                </MudItem>
                                <MudItem xs="3">
                                    <MudText>
                                        <strong>Z</strong>(<span style="text-decoration: underline;">@row.Item.PositionZ</span>)
                                    </MudText>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="2">
                            <MudTooltip Text="Copier les coordonnées" Placement="Placement.Left" Arrow>
                                <MudIconButton Class="mr-0 mr-md-4" Size="Size.Small" Icon="@(IconsM.Filled.ContentCopy)" OnClick="@(async () => await CopyToClipboardAsync(row.Item))"/>
                            </MudTooltip>
                            <MudTooltip Text="Ouvrir la carte interactive" Placement="Placement.Left" Arrow>
                                <MudIconButton Class="purple-font" Size="Size.Small" Icon="@(IconsM.Filled.OpenInBrowser)" OnClick="@(async () => await OpenMapAsync(row.Item))"/>
                            </MudTooltip>
                        </MudItem>
                    </MudGrid>
                </CellTemplate>
            </TemplateColumn>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <TemplateColumn Title="Actions" HeaderClass="dark-bg" FooterClass="dark-bg">
                        <CellTemplate Context="row">
                            <MudStack Row Justify="Justify.Center">
                                <MudTooltip Text="Supprimer" Placement="Placement.Left" Arrow>
                                    <MudIconButton Icon="@IconsM.Filled.Delete" Color="Color.Error" Size="Size.Small" OnClick="@(async() => await RemoveVehicleAsync(row.Item))" />
                                </MudTooltip>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                </Authorized>
            </AuthorizeView>
        </Columns>
    </MudDataGrid>
</MudContainer>

